.t-48 {
    font-size: clamp(24px, 3.429vw, 48px);
}
.t-36 {
    font-size: clamp(24px, 2.571vw, 36px);
}

.t-25 {
    font-size: clamp(24px, 2.571vw, 25px);
}

.t-24 {
    font-size: clamp(16px, 1.286vw, 24px);
}
.t-20 {
    font-size: clamp(16px, 1.286vw, 20px);
}
.t-18 {
    font-size: clamp(16px, 1.286vw, 18px);
}

.t-15 {
    font-size: clamp(15px, 1.286vw, 15px);
}

.t-14 {
    font-size: clamp(14px, 1.286vw, 14px);
}