@font-face {
    font-family: 'Rubik';
    font-display: swap;
    font-style: italic;
    src: url(/fonts/Rubik-Italic-VariableFont_wght.ttf) format('truetype'),
}

@font-face {
    font-family: 'Rubik';
    font-display: swap;
    font-style: normal;
    src: url(/fonts/Rubik-VariableFont_wght.ttf) format('truetype'),
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-style: normal;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf) format('truetype'),
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    font-style: italic;
    src: url(/fonts/Montserrat-Italic-VariableFont_wght.ttf) format('truetype'),
}